<!DOCTYPE html>
<html>
  <head>
    <title> Profile </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
        <h1>PROFILE</h1>
        <h2>Bienvenido a tu perfil, <%= nombre %> </h2>
        <h3>Tu mail es <%= email %> </h3>

        <img src="/images/avatars/<%= avatar %> " alt="">

  </body>
</html>